/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2019, 2:36:23 PM
    Author     : Cong Le
*/

.title {
    margin-top: 50px;
    margin-left: 70px;
    padding: 20px 45px;
    display: inline-block;
    background-color: #DDDDDD;
    border-radius: 0.25em 0.25em 0 0;
    border: 1px solid silver;
}

#one-way-flight {
    width: 90%;
    margin-left: 70px;
    text-align: left;
}

#one-way-flight, #one-way-flight th, #one-way-flight td {
    border: 1px solid black;
    border-collapse: collapse;
}

#one-way-flight th {
    background-color: #DDDDDD;
}

#round-trip-flight {
    width: 90%;
    margin-left: 70px;
    text-align: left;
}

#round-trip-flight, #round-trip-flight th, #round-trip-flight td {
    border: 1px solid black;
    border-collapse: collapse;
}

#round-trip-flight th {
    background-color: #DDDDDD;
}

.round-trip-form input[type="submit"] {
    margin-top: 50px;
    margin-left: 90%;
    background-color: #1d86ef;
    color: #FFFFFF;
    border: 1px solid grey;
    border-radius: 0.25em;
    padding: 5px 15px;
}